---
layout: default
---

<div class="home">

  <h1 class="page-title">遇见</h1>
  <!-- <span class="page-heading">文章列表：</span> -->

  <section class="post-list">
    {% for post in site.posts %}
    <article class="post-entry">
      <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
        <div class="post-excerpt">
          {{post.content || split: '<!-- more -->' | first}}
        </div>
        <div class="post-more"><a href="{{post.url}}" title="{{post.title}}">阅读全文</a></div>
    </article>
    {% endfor %}
  </section>
  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

  <p>tag cloud： 
	{% for tag in site.tags %}<span class="tag"> {{ tag[0] }} </span>{% endfor %}
  </p>

</div>
