---
layout: default
---
<div class="home">
    <!-- <span class="page-heading">文章列表：</span> -->
    <div class="post-list">
        {% for post in paginator.posts %}
        <article class="post-entry">
            <div class="post-meta">
            	<div>
            	<label>分类：</label>
            	{% for category in post.categories %}
            	<span><a href="/{{category}}/" title="{{category}}">{{category}}</a></span>
            	{% endfor %}
            	</div>
            	<div>
            	{% if post.tags.size > 0 %}
            	<label>标签：</label>
            	{% for tag in post.tags %}
            	<span class="tag"><a href="javascript:void(0)" title="{{tag}}">{{tag}}</a></span>
            	{% endfor %}
            	{% endif %}
            	</div>
            	<div><time>{{ post.date | date: "%Y年%m月%d日" }}</time></div>
            </div>
            <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
            <div class="post-excerpt">
                {{ post.content | strip_html | truncate:512 }}
            </div>
            <div class="post-more"><a href="{{post.url}}" title="{{post.title}}">阅读全文</a></div>
        </article>
        {% endfor %}
    </div>

{{ paginator.page }}
    {% if paginator.total_pages > 1 %}
	<div class="pagination">
	  {% if paginator.previous_page %}
      {% if paginator.page == 2 %}
      <a href="/">&laquo; 上一页</a>
      {% else %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}/">&laquo; 上一页</a>
      {% endif %}
	  {% else %}
	    <span>&laquo; 上一页</span>
	  {% endif %}

	  {% for page in (1..paginator.total_pages) %}
	    {% if page == paginator.page %}
	      <em>{{ page }}</em>
	    {% elsif page == 1 %}
	      <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
	    {% else %}
	      <a href="/{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}/">{{ page }}</a>
	    {% endif %}
	  {% endfor %}

	  {% if paginator.next_page %}
	    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}/">下一页 &raquo;</a>
	  {% else %}
	    <span>下一页 &raquo;</span>
	  {% endif %}
	</div>
	{% endif %}
</div>
