<header class="site-header">
    <nav class="navbar">
        <ul>
            <li><a href="{{ site.baseurl }}/" title="{{ site.title }}">{{ site.title }}</a></li>
            {% for category in site.categories %}
            <li>
                <a href="/" title="{{ category | first }}">{{ category | first }}</a> ({{ category | last | size }})
            </li>
            {% endfor %}
            {% for my_page in site.pages %}
              {% if my_page.title %}
                <li>
                    <a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}" title="{{ my_page.title }}">{{ my_page.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
        </ul>
    </nav>
</header>
<aside class="site-sidebar">
    <div class="avatar">
      
    </div>
    <nav class="navbar">
        <ul>
            {% for category in site.categories %}
            <li>
                <a href="/">{{ category | first }}</a> ({{ category | last | size }})
            </li>
            {% endfor %}
        </ul>
    </nav>
</aside>