/**
 * Site header
 */
 $site-header-width: 100%;
 @mixin box-sizing-border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;

    width: $site-header-width;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;

    @include box-sizing-border-box;

    > nav {
        text-align: center;
        > ul {
            display:inline-block;
            margin-bottom: 0;
            > li {
                float: left;
                padding: 0 1em;
                @include box-sizing-border-box;
                list-style: none;
                > a {
                    color: $text-color;
                    line-height: 56px;
                    &:hover {
                        text-decoration: none;
                    }
                }
                + li {
                    margin-left:20px;
                }
            }
        }
    }

}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}
.site-brand {
    font-size: 1.5rem;
    font-weight: bold;
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    position: absolute;
    left: $spacing-unit;
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

/**
 * Site sidebar
 */
@mixin myhover-keyframes {
    from {
        background-color:#f9f9f9;
    }
    to {
        background-color:#e9e9e9;
    }
}
@keyframes myhover {
    @include myhover-keyframes;
}
@-webkit-keyframes myhover {
    @include myhover-keyframes;
}
@-o-keyframes myhover {
    @include myhover-keyframes;
}
@mixin myhover-animation($seconds:1s) {
    animation-name: myhover $seconds 1;
    animation-fill-mode: forwards;
    -webkit-animation: myhover $seconds 1;
    -webkit-animation-fill-mode: forwards;
    -o-animation: myhover $seconds 1;
    -o-animation-fill-mode: forwards;
}
 .site-sidebar {
    //width: 100 - $site-header-width;
    float: right;
    width: 25%;
    color: white;
    > .sidebar-item {
        background-color: white;
        padding: $spacing-unit / 2;
        margin-bottom: $spacing-unit;
        color: #666666;
        > .sidebar-item-title {
            color: #333333;
            font-weight: bold;
            line-height: $base-line-height;
            padding-bottom: $spacing-unit / 3;
            margin-bottom:  $spacing-unit / 2;
            border-bottom: 2px dashed #f0f0f0;
        }
    }
    .sidebar-item-categories {
        ul > li {
            background-color: #f9f9f9;
            margin-bottom: $spacing-unit / 3;
            padding: 5px 0 5px $spacing-unit / 2;
            > a {
                color: #d35400;
                display: block;
                &:hover {
                    text-decoration: none;
                }
            }
            &:hover {
                @include myhover-animation(0.5s);
            }
        } 
    }
 }
.tag-list {
    .tag-item {
        background-color: white;
        padding: $spacing-unit;
        margin-bottom: $spacing-unit;
        h2 {
            display: inline-block;
        }
    }
}
 .tag {
        > a {
            color: #d35400;
            display: block;
            font-size: 0.8rem;
            &:hover {
                text-decoration: none;
            }
        }
        &:hover {
            @include myhover-animation(0.5s);
        }
        display: inline-block;
        background-color: #f9f9f9;
        margin: 0 $spacing-unit / 3 $spacing-unit / 3 0;
        padding: 2px $spacing-unit / 6;
        border-radius: 5px;
    }


/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0 0;
    background-color: white;
    margin-top: $spacing-unit;
    text-align: center;
    .footer-heading {
        display: inline-block;
        h2 {
            display: inline-block;
        }
    }
    .site-copyright {
        color: #aaaaaa;
        font-size: 0.8em;
        padding-bottom: $spacing-unit;
        margin-bottom: 0;
    }
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
/* .page-content {
    padding: $spacing-unit*3 0 $spacing-unit;
    width: $site-header-width;
    float: right;
} */

.page-heading {
    font-size: 20px;
    margin-bottom: $spacing-unit;
    display: inline-block;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > article {
        margin-bottom: $spacing-unit;
        border: 1px solid $grey-color-light;
        padding: $spacing-unit;
        background-color: white;
        animation: post-entry 0.6s;
        -moz-animation: post-entry 0.6s; /* Firefox */
        -webkit-animation: post-entry 0.6s; /* Safari and Chrome */
        -o-animation: post-entry 0.6s; /* Opera */
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    > div {
        display: inline-block;
        margin-right: $spacing-unit;
    }
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

.page-title {
    display: none;
}
.post-more {
    text-align: right;
}
.post {
    background-color: white;
    padding: $spacing-unit;
    .post-title {
        font-size: 1.6rem;
        text-align: center;
        margin-top: $spacing-unit;
    }
    .post-meta {
        text-align: center;
    }
}

.category-title {
    background-color: white;
    padding: $spacing-unit;
    margin-bottom: $spacing-unit;
    h1 {
        display: inline-block;
    }
}

/* CSS3 animation */
@mixin animation-post-entry {
    0% {
        opacity: 0;
        -webkit-transform: scale(1);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale(1.01);
    }
    100% {
        -webkit-transform: scale(1);
    }
}

@keyframes post-entry {
    @include animation-post-entry;
}

@-moz-keyframes post-entry 
/* Firefox */
{
    @include animation-post-entry;

}
@-webkit-keyframes post-entry
/* Safari and Chrome */
{
    @include animation-post-entry;
}
@-o-keyframes post-entry
/* Opera */
{
    @include animation-post-entry;
}