---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <div class="post-meta">
      <div>
      <label>分类：</label>
      {% for category in page.categories %}
      <span><a href="/{{category}}/" title="{{category}}">{{category}}</a></span>
      {% endfor %}
      </div>
      <div>
      {% if page.tags.size > 0 %}
      <label>标签：</label>
      {% for tag in page.tags %}
      <span class="tag"><a href="javascript:void(0)" title="{{tag}}">{{tag}}</a></span>
      {% endfor %}
      {% endif %}
      </div>
      <div><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%Y年%m月%d日" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</div>
    </div>
  </header>

  <div class="post-content">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- 728x90 -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:728px;height:90px"
         data-ad-client="ca-pub-5832869169280074"
         data-ad-slot="5596049028"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
    {{ content }}
    <p>转载请注明出处：<a href="{{ page.url }}" title="{{page.title}}">{{site.url}}{{ page.url }}</a></p>
  </div>

</article>
